<p id="notice"><%= notice %></p>

<h1>Rails</h1>

<table>
  <thead>
    <tr>
      <th>G</th>
      <th>Scaffold</th>
      <th>Ordendecompra</th>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Boleta</th>
      <th>Dni</th>
      <th>Nombre</th>
      <th>Tipo pago</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rails.each do |rail| %>
      <tr>
        <td><%= rail.g %></td>
        <td><%= rail.scaffold %></td>
        <td><%= rail.OrdendeCompra %></td>
        <td><%= rail.fecha %></td>
        <td><%= rail.producto %></td>
        <td><%= rail.cantidad %></td>
        <td><%= rail.precio %></td>
        <td><%= rail.boleta %></td>
        <td><%= rail.DNI %></td>
        <td><%= rail.nombre %></td>
        <td><%= rail.tipo_pago %></td>
        <td><%= rail.total %></td>
        <td><%= link_to 'Show', rail %></td>
        <td><%= link_to 'Edit', edit_rail_path(rail) %></td>
        <td><%= link_to 'Destroy', rail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rail', new_rail_path %>
