<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @rail.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @rail.scaffold %>
</p>

<p>
  <strong>Ordendecompra:</strong>
  <%= @rail.OrdendeCompra %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @rail.fecha %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @rail.producto %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @rail.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @rail.precio %>
</p>

<p>
  <strong>Boleta:</strong>
  <%= @rail.boleta %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @rail.DNI %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @rail.nombre %>
</p>

<p>
  <strong>Tipo pago:</strong>
  <%= @rail.tipo_pago %>
</p>

<p>
  <strong>Total:</strong>
  <%= @rail.total %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
